<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999232748999-rkt1s89hd3c105vhj2ugqhc7ar787tg2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999232748999-rkt1s89hd3c105vhj2ugqhc7ar787tg2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>999232748999-6dekhoae09k00e7lei64qrk5ec06gpch.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCkCWtusQHprGNbj5GAiQR95E3_UHyaNEo</string>
	<key>GCM_SENDER_ID</key>
	<string>999232748999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sabgrocery.userapp</string>
	<key>PROJECT_ID</key>
	<string>sabgrocerynew</string>
	<key>STORAGE_BUCKET</key>
	<string>sabgrocerynew.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999232748999:ios:51a9cff8e29224ea1b2de2</string>
	<key>DATABASE_URL</key>
	<string>https://sabgrocerynew-default-rtdb.firebaseio.com</string>
</dict>
</plist>
